<div class="row row-cols-1 row-cols-md g-4">
  <div class="col">
    <div class="card h-100">
      <img [src]="book.imageUrl" class="card-img-top" alt="..." />
      <div class="card-body">
        <h4 class="card-title">{{ book.title }}</h4>
        <p class="card-author">By {{ book.author }}</p>
        <p class="card-text">{{ book.description }}</p>
      </div>
      <div class="render">
        <button>
          <a [href]="book.link">{{ book.linkTitle }}</a>
        </button>
      </div>
    </div>
  </div>
</div>
