<h1>Book List</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img [src]="imageUrl[0]" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card Title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
      <div class="render">
        <button><a href="#">Read More</a></button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img [src]="imageUrl[1]" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a short card.</p>
      </div>
      <div class="render">
        <button><a href="#">Read More</a></button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img [src]="imageUrl[2]" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content.
        </p>
      </div>
      <div class="render">
        <button><a href="#">Read More</a></button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img [src]="imageUrl[3]" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
      <div class="render">
        <button><a href="#">Read More</a></button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img [src]="imageUrl[4]" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
      <div class="render">
        <button><a href="#">Read More</a></button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img [src]="imageUrl[5]" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a longer card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
      </div>
      <div class="render">
        <button><a href="#">Read More</a></button>
      </div>
    </div>
  </div>
</div>
