<footer class="bg-color text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <section class="mb-4">
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998"
        [href]="socialMedia[0]"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee"
        [href]="socialMedia[1]"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #dd4b39"
        [href]="socialMedia[2]"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac"
        [href]="socialMedia[3]"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca"
        [href]="socialMedia[4]"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333"
        [href]="socialMedia[5]"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>

    <section class="">
      <form>
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up here</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input
                type="email"
                id="form5Example2"
                class="form-control"
                placeholder="Email address"
                name="emailValid"
                [(ngModel)]="emailValid"
                [value]="emailValid"
              />
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button
              type="submit"
              (click)="validEmail()"
              class="btn btn-outline-light mb-4"
            >
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Link 1</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 2</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 3</a>
            </li>
            <li>
              <a href="#!" class="text-white">Link 4</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    {{ copyRightYear }}
    <ng-container *ngFor="let data of hrefs">
      <a class="text-white" [href]="data.link">{{ data.title }}</a>
    </ng-container>
  </div>
</footer>
