<div class="home-container">
  <h1 class="text-center p-4">Welcome to home page</h1>
  <p class="p-4">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quia
    placeat, beatae aut eaque consequuntur nostrum aliquam a suscipit incidunt
    deleniti facere distinctio, provident sapiente nemo asperiores neque vero.
    Consectetur! Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Incidunt quaerat ea maxime harum perspiciatis ducimus veniam itaque corporis
    est quos unde dolore assumenda sequi, impedit ullam mollitia reprehenderit
    fuga eos iusto, necessitatibus neque? Officiis voluptate quibusdam
    dignissimos. Odio, impedit eaque?
  </p>
</div>
