<!-- BookShop -->
<!-- <app-header></app-header>
<app-main class="container"> </app-main>
<app-footer></app-footer> -->

<!-- Common Error module  -->
<!-- <app-component-one></app-component-one> -->

<!-- Hooks methods  -->
<!-- <app-parent-component></app-parent-component> -->

<!-- Service Demo -->
<!-- <app-products></app-products> -->

<!-- Reactive form demo  -->
<!-- <app-user></app-user> -->

<!-- HttpClient methods  -->
<!-- <app-user-api></app-user-api> -->

<!-- Template driven form  -->
<!-- <app-user-form></app-user-form> -->

<!-- Router demo -->
<!-- <app-dashboard></app-dashboard> -->

<!-- Pipes demo -->
<app-student-data></app-student-data>
