.navbar {
  background-color: #3c373c;
}
.nav-link,
.navbar-brand,
.btn {
  color: whitesmoke;
}
.nav-link:hover {
  transition: 0.5s ease-in-out;
  color: #0bbaba;
}
.btn {
  border: 1px solid whitesmoke;
}
.btn:hover {
  background-color: whitesmoke;
  color: #3c373c;
}
.form-control {
  border: 1px solid whitesmoke;
  box-shadow: none;
}
