<table class="table table-striped table-hover products-container">
  <thead class="table">
    <tr>
      <th scope="col">Sr</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Nirmit</td>
      <td>Valand</td>
      <td>nirmitvaland692@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Utsav</td>
      <td>Chauhan</td>
      <td>utsavchauhan@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Jayesh</td>
      <td>Damor</td>
      <td>jay2305@gmail.com</td>
    </tr>
  </tbody>
</table>
<div class="btns">
  <button type="button" class="btn btn-secondary" (click)="goToHome()">
    Go To Home
  </button>
  <button type="button" class="btn btn-secondary" (click)="goToAccounts()">
    Go To Accounts
  </button>
</div>

<div class="product-details-btn">
  <button type="button" class="btn btn-secondary" (click)="displayProducts()">Go To Product Details</button>
</div>

<router-outlet></router-outlet>
